*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}


.container {
  text-align: center;
  font-size: 3em;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #dadada;
}

.emphasis {
    font: .6em "Arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-align: center;
}

.preview {
  height: 250px;
  width: 100%;
  padding: 20px 20px;
  margin-top: 20px;
  display: inline-block;
  background-size: cover;
}

.preview h1{
  text-align: left;
}

.baku {
    background-image: url("../images/baku.jpg");
    margin: 2%;
}

.london {
    background-image: url("../images/london.png");
    margin: 2%;
}

.madrid {
    background-image: url("../images/madrid.jpg");
    margin: 2%;
}

.rome {
    background-image: url("../images/rome.jpg");
    margin: 2%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 575px) {

  .preview {
    width: 100%;
}
}

@media screen and (min-width: 768px) {

    .preview {
    width: 40%;
}
}

@media screen and (min-width: 991px) {

  .preview {
    width: 18%;
}
}
